*.exe
*.exe.stackdump
*.la
*.lo
*.o
*.patch
*~
.deps
.libs
configure
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.log
/config.status
/libtool
/libtpms.pc
/libtpms-*.tar.gz
/ltmain.sh
/stamp-h1
/dist/libtpms.spec
/m4/*
/tests/base64decode
/tests/freebl_sha1flattensize
