*.exe
*.exe.stackdump
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.o
*.patch
*.trs
*~
.deps
.dirstamp
.libs
configure
compile
depcomp
missing
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/install-sh
/libtool
/libtpms.pc
/libtpms-*.tar.gz
/ltmain.sh
/stamp-h1
/test-driver
/dist/libtpms.spec
/include/libtpms/tpm_library.h
/m4/*
/tests/base64decode
/tests/corpus-execute-command/
/tests/fuzz
/tests/freebl_sha1flattensize
/tests/nvram_offsets
/tests/tpm2_createprimary
/tests/tpm2_pcr_read
/tests/tpm2_selftest
/debian/*debhelper*
/debian/*substvars
/debian/files
/debian/libtpms
/debian/libtpms-dev
/debian/tmp
