#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel 

override_dh_auto_configure:
	./bootstrap.sh
	dh_auto_configure -- --with-openssl

override_dh_usrlocal:
